*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.menu{
    height: 25px;
    background: green;
}

.menu-options{
    height: 35px;
    background: beige;
}

.calculations{
    height: 25px;
    background: orchid;
}

.cells-content{
    height: calc( 100vh - 110px );
    overflow: auto;
}

.sheets{
    height: 25px;
    background: aquamarine;
}

.row{
    display: flex;
}

.cell{
    
    min-height: 25px;
    min-width: 80px;        
    outline: none;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}